html,body{
    
    background-repeat:no-repeat;
    background-size:cover;
    background-color: #1983da;
    
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1983da;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 10px;
    width: 50%;
    align-items: center;
    align-content: center;
    align-self: center;
    border-radius: 10px;
    }
  
  
  input[type="file"] {
    padding: 40px 10px;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 10px;
  }
  button[type="submit"] {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  h1{
    color: rgb(255, 255, 255);
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:transparent;
  }

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
background-color: #111;
}
.dropdown-content {
display: none;
position: absolute;
background-image: url("/static/image/back.jpg");
min-width: 160px;
box-shadow: 5px 8px 10px 0px black;
background-repeat:no-repeat;
    background-size:cover;
}

.dropdown-content a {
color: rgb(255, 255, 255);
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {
background-color: blue;
color:white;
}

.dropdown:hover .dropdown-content {
display: block;
}
@media only screen and (max-width: 600px) {
 body{
  width: auto;
 }
  form {
    width: auto;
  }
  .form-input {
    width: auto;
  }
  .navbar {
    width: auto;
    height: inherit;
  }
  
 

  
}



.center {
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;

}
.form-input {
  width:300px;
  padding:10px;
  background:transparent;
  box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
              3px 3px 7px rgba(94, 104, 121, 0.377);
}
.form-input img {
  width:100%;
  display:none;
  margin-bottom:30px;
}
.form-input input {
  display:none;
}

.form-input label {
  display:block;
  width:45%;
  height:45px;
  margin-left: 25%;
  line-height:50px;
  text-align:center;
  background:#1172c2;
  color:#fff;
  font-size:15px;
  font-family:"Open Sans",sans-serif;
  text-transform:Uppercase;
  font-weight:600;
  border-radius:5px;
  cursor:pointer;
}
main{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background:#603280;
}