<!DOCTYPE html>
<html>
  <head>
    <title>Image Converter</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

  </head>
  <body>
    <div class="nav">
      <form>
    <h1>Image Converter</h1>
    <div>
      <ul>
        <li><a href="/jpgtopng">JPG to PNG</a></li>
        <li><a href="/pngtojpg">PNG to JPG</a></li>
        <li><a href="/webptopng">WEBP to PNG</a></li>
        <li><a href="/bmptopng">BMP to PNG</a></li>
        <li><a href="/pngtopdf">PNG to PDF</a></li>
      </ul>
    </div>
  </form>
  </div>
  </body>
</html>
